header{
    background: #BBBB;
    padding: 20px;
}

.caixa{
    position: relative;
    width: 1240px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 200px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-align: nome;

}

.floco{
    width: 15%;

} 
.produtos li {
    display: inline-blockSS;
}
